<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bugstack.reade.forum.infrastructure.mapper.UserMapper">

    <select id="loginUser" resultType="cn.bugstack.reade.forum.infrastructure.dao.UserDao">
        select *
        from user
        where user_name = '' #{userName} or user_email = #{userName}
    </select>

    <insert id="creatUserMap" parameterType="cn.bugstack.reade.forum.infrastructure.dao.UserDao">
        insert into user (user_id, user_name, user_password, user_email) value (#{userId},#{username}, #{password}, #{email} )
    </insert>
</mapper>
